*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

button{
  border: none;
  background-color: transparent;
}

:root{
  /* colors */
  --bg-color: #000000;
  --placeholder-color: #7C7C8A;
  --button-color: #065E7C;
  --input-color: #06181C;
  --thead-color: #092D38;
  --text-color: #E1E1E6;
  --border-color: #4A808C;
  --odd-color: hsla(195, 61%, 6%, 0.5);
  --even-color: hsla(192, 65%, 7%, 1);
  --remove-btn-color: #F75A68;
  --button-text-color: #fff;
  /* Font-size */
  font-size: 62.5%;
  /* Font-Family */
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

#app{
  width: min(1120px, 90%);
  margin: 11.5rem auto;
}

/* header */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 8.7rem;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

header .search{
  display: flex;
  gap: 1rem;
}

header input{
  background-color: var(--input-color);
  border: none ;
  padding: 1.6rem;
  width: max(46.2rem);
  font-size: 1.6rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

header input:focus{
  outline: none;
}

header button{
  background-color: var(--button-color);
  border-radius: 0.5rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

header button:hover{
  background-color: var(--button-text-color);
  color: var(--button-color); 
}

header button:hover svg path{
  fill: var(--button-color);
}

/* Tabela */
.table-wrapper{
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid var(--border-color);
  overflow-y: auto;
  max-height: 50rem;
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  /* height: 0.6rem; */

  background: transparent;
}

/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border-radius: 1rem;
  border: 3px solid #4A808C;
}

/* Handle on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--button-color); 
}


table{
  width: 100%;
  border-collapse: collapse ;
}

table thead th{
  background-color: var(--thead-color);
  padding: 1.6rem;
  text-align: left;
  font-weight: bold;
  font-size: 2rem;

  position: sticky;
  top: 0;
  z-index: 1;
}

table thead th:first-child {
  border-top-left-radius: 1.2rem;
  padding-left: 4rem;
}

table thead th:last-child{
  border-top-right-radius: 1.2rem;
}

/* Sem usuários */

.no-user.not_active tr{
  display: none;
}

.no-user td{
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  padding: 15rem 20rem;
}

.no-user td span{
  display: flex;
  align-items: center;
  gap: 6rem;
}

/* Após a adição dos usuários */
table tbody  td, table tbody button, table tbody  a{
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  padding: 1.6rem 0;
}

table tbody .user{
  display: flex;
  align-items: center;
  gap: 1rem;
}

table tbody .user img{
  width: 5.6rem;
  border-radius: 50%;
  margin-left: 4rem;
}

table tbody .user span{
  font-weight: normal;
}

table tbody button{
  color: var(--remove-btn-color);
  cursor: pointer;
}

table tbody tr{
  background-color: var(--odd-color);
}

table tbody tr:nth-child(even){
  background-color: var(--even-color);
  border-bottom: 1pt solid var(--border-color);
  border-top: 1px solid var(--border-color); 
}

